body{
    text-align: center;
    background-color: rgb(39, 38, 38);
}


.row{
    background-color: rgb(63, 61, 61);
    padding: 20px;
    margin: 20px;
    max-width: auto;

}
.container2{
    background-color: blue;
    padding: 50px;
   
}


.letras {
    text-align: center;
    margin: auto;
    padding: auto;
    color: rgb(255, 255, 255);
}    

.barra{
    background-color: rgb(63, 61, 61);;
}

.formulario{
    background-color: aliceblue;
}